h1 {
    width: 100%;
}

.h1about
{animation:tracking-in-expand-fwd-top .8s cubic-bezier(.215,.61,.355,1.000) both
}

.containerAbout {
    display: flex;
    height: 94vh;
    background-color: rgb(220, 215, 215);
}

.h1About {
    font-size: 60px;
    text-align: center;
    font-weight: 500;
    letter-spacing: 0px;
    font-family: Lora;
    color: green;
    margin: auto;
    text-align: center;
}

.leftTitleAbout {
    height: 94vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 50px;
    font-family: Lora;
    font-size: 4em;
    font-family: Lora;
}

.leftBackgroundAbout {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.leftAbout {
    flex: 0.7;
    background-image: url(../../../public/assets/cc.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0px 0px 20px 2px;
}

.rightAbout {
    display: flex;
    flex: 1;
}

.h1About {
}

@keyframes tracking-in-expand-fwd-top{0%{letter-spacing:-.5em;transform:translateZ(-700px) translateY(-500px);opacity:0}40%{opacity:.6}100%{transform:translateZ(0) translateY(0);opacity:1}}

@media only screen and (max-width: 1024px) {
    .containerAbout {
        display: flex;
        height: 94vh;
        flex-direction: column;
    }

    .leftTitleAbout {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 30vh;
        font-size: 34px;
    }

    .rightContact {
        align-items: start;
    }

    .h1Contact {
        font-size: 26px;
    }

    .write {
        margin-left: 0;
        margin-top: 0;
    }
    .containerAbout {
        background-position: 0;
        background-size: cover;
    }

        .leftAbout {
            width: 100%;
            flex: 0.3;
            box-shadow: 2px 2px 22px 2px;
        }
}

@media screen and (min-width: 851px) and (max-width: 1100px) {
    .contactContainer {
        background-position: 0;
        background-size: cover;
    }
}