.registerButtonSub {
    width: 180px;
    padding: 10px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    background-color: rgb(78, 130, 190);
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin: auto;
    text-align: center;
    margin-bottom: 15px;
}

.registerButtonSub:hover {
    background-color: rgb(116, 142, 179);
}

.subForm {
    height: 94vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.writeForm {
    display: flex;
    flex-direction: column;
}

#endpointDiv {
    /* width: 500px; */
}