  .container {
    height: 100vh;
  }

  .video-bg {
    background-position: center;
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    overflow: hidden;
    display: block;
    position: relative;
  }
  

  .caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50% );
    text-align: center;
    color: white;
    font-weight: bold;
    font-family: Lora;
    animation: caption;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

@keyframes caption {
0% {top: 20%}
100% {top: 50%}
}

.caption h1 {
  font-size: 40px;
}

.caption p {
  margin-top: 5px;
  max-width: 500px;
}

.blogbtn {
  margin-top: 10px;
  padding: 8px;
  cursor: pointer;
  color: white;
  background: linear-gradient(45deg, rgb(59, 124, 178), rgb(36, 110, 213));
  width: 80px;
  border-radius: 5px;
  font-weight: bold;
  opacity: 0;
  animation-name: blogbtn;
  animation-duration: 3s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}

@keyframes blogbtn {
  0% {opacity: 0}
  100% {opacity: 1}
  }

.podcastbtn {
  margin-top: 10px;
  padding: 8px;
  cursor: pointer;
  color: white;
  background: linear-gradient(45deg, rgb(59, 124, 178), rgb(36, 110, 213));
  width: 80px;
  border-radius: 5px;
  font-weight: bold;
  opacity: 0;
  animation-name: podcastbtn;
  animation-duration: 3s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}

@keyframes podcastbtn {
  0% {opacity: 0}
  100% {opacity: 1}
  }


.blogbtn:hover {
  background: linear-gradient(45deg, rgb(35, 128, 204), rgb(85, 118, 166));
}

.podcastbtn:hover {
  background: linear-gradient(45deg, rgb(35, 128, 204), rgb(85, 118, 166));
}


