.settings {
    display: flex;
    padding-top: 32px;
    font-family: Lora;
}

.settingsWrapper {
    flex: 9;
    padding: 20px;
}

.settingsTitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.settingsTitle h1 {
    width: 100%;
    text-align: center;
}

.settingsForm h2 {
    text-align: center;
    margin-top: 25px;
}

.settingsDeleteTitle {
    color: red;
    font-size: 12;
    cursor: pointer;
}

.errortxt {
    color: red;
    font-size: 14px;
}

.settingsForm {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.settingsForm input {
    width: 50vw;
    justify-content: center;
    font-size: 22px;
    border: none;
    padding: 10px;
    width: 50vw;
    border-radius: 20px;
    margin-top: 10px;
    font-family: "Lora";
}

.settingsForm input:focus {
    outline: 2px solid rgb(65, 126, 196);
}

.settingsPP {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.settingsPP input {
    color: gray;
    margin: 10px 0;
    height: 30px;
    border: none;
    border-bottom: 1px solid lightgrey;
}

.pp {
margin: auto;
}

.settingsPP > img {
    width: 70px;
    height: 70px;
    border-radius: 20px;
    object-fit: cover;
}

.settingsPPIcon {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: lightcoral;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    cursor: pointer;
}

/* .settingsForm > label {
    font-size: 20px;
    margin-top: 20px;
} */

.settingslbl {
    font-size: 20px;
    margin-top: 10px;
    text-align: center;
}

.settingsForm > input {
    color: gray;
    margin: 10px 0;
    height: 30px;
    border: none;
    border-bottom: 1px solid lightgrey;
}

.settingsSubmit {
    width: 150px;
    align-self: center;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: teal;
    padding: 10px;
    margin-top: 20px;
    cursor: pointer;
}